<mat-toolbar color="primary">
  <span>Application Title</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-spacer"></span>

  <span>Right Aligned Text</span>
</mat-toolbar>
<mat-grid-list [cols]="12" class="pt-50">
  <mat-grid-tile [colspan]="2"></mat-grid-tile>
  <mat-grid-tile [colspan]="8">
    <mat-list>
      <h3 mat-subheader>Folders</h3>
      <mat-list-item *ngFor="let hymn of hymns">
        <mat-icon mat-list-icon>music</mat-icon>
        <h4 mat-line>{{ hymn.name }}</h4>
        <p mat-line> {{ hymn?.lyrics }} </p>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2"></mat-grid-tile>
</mat-grid-list>
<mat-card>
  Simple card
</mat-card>
<mat-list>
  <h3 mat-subheader>Folders</h3>
  <mat-list-item *ngFor="let folder of folders">
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4 mat-line>{{folder.name}}</h4>
    <p mat-line> {{folder.updated | date}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Notes</h3>
  <mat-list-item *ngFor="let note of notes">
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>{{note.name}}</h4>
    <p mat-line> {{note.updated | date}} </p>
  </mat-list-item>
</mat-list>
<mat-list>
  <mat-list-item> Pepper </mat-list-item>
  <mat-list-item> Salt </mat-list-item>
  <mat-list-item> Paprika </mat-list-item>
</mat-list>
